<router-outlet name="site-header"></router-outlet>
<div class="product-details">
	<div class="container">
		<span><a>Clothing</a> > <b>Outerwear</b></span>
		<div class="row">
			<div class="col-xl-6">
				<img class="product-image" src="../../../assets/images/tough-mojo-jacket-img1.png">
			</div>
			<div class="col-xl-6">
				<div class="product-details-text">
					<label>Tough Mojo Jacket®</label>
					<p>
						300 GRAMS OF PRIMALOFT® ONE INSULATION<br>
						SCHOELLER® MICROFIBER SHELL<br>
						DIAGONAL QUILTING<br>
						MICROFIBER RIPSTOP LINER<br>
						ZIPPER GARAGE AT COLLAR<br>
						ANCHORED BOTTOM-HEM ADJUSTERS<br>
						3-IN-1 FRONT POCKETS<br>
						ZIPPERED CHEST POCKET<br>
						TWO INTERIOR ZIPPERED POCKETS<br>
						MAD IN THE PHILIPPINES<br>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="product-description">
	<div class="container">
		<div class="row">
			<div class="col-xl-7">
				<img class="description-image" src="../../../assets/images/tough-mojo-jacket-img2.png">
			</div>
			<div class="col-xl-5">
				<p>
					Our most insulated jacket to date. the city-styled Highline is designed to keep you warm during the deep freeze of winter. 
					With 300 grams of PrimaLoft® ONE insulation. the Highline offers incredible heat retention while remaining form fitting and low volume—essentially all the warmth of a puffer jacket without all the puff. Its outer shell is made from a water-resistant Schoeller' microfiber fabric that has been diagonally quilted, while its inside liner is made from a silky-soft microfiber ripstop nylon. 
					The Highline features a zipper garage to prevent a cold metal zipper from pressing against your neck, non-quilted side panels and underarms for a sleeker fit, and anchored bottom-hem adjusters for a snug fit. It has two uniquely designed front pockets, which include a top-zippered entrance, a drop pocket with donut snap, and a side hand-warmer. Additional storage can be found in its exterior chest pocket and two interior zippered pockets. 
				</p>
			</div>
		</div>
	</div>
</div>
<div class="reviews">
	<div class="container">
		<h2>Reviews</h2> <a>Write a review on this product</a>
		<div class="review" *ngFor="let review of userReviews">
			<label>{{review.userName}}</label>
			<img src="../../../assets/images/reviewer{{review.userId}}.png">
			<label>{{review.title}}</label>
			<span>{{review.date}}</span>
			<img *ngFor="let item of [].constructor(review.rate)" src="../../../assets/images/star.png">
			<p>{{review.content}}</p>
		</div>
	</div>
</div>

<router-outlet name="site-footer"></router-outlet>