<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4"><img src="../../../assets/images/axiom-logo-small.png"></div>
			<div class="col-md-8 footer-menu clicable">
				About Us &nbsp; | &nbsp; Contact Us &nbsp; | &nbsp; Privacy Policy &nbsp; | &nbsp; Terms of Service &nbsp; | &nbsp; Site Map
				<img class="icon clicable" src="../../../assets/images/fb-icon.png">
				<img class="icon clicable" src="../../../assets/images/twitter-icon.png">
			</div>
		</div>
	</div>
</div>